.fileInput {
  &::file-selector-button {
      border: none;
      padding: .6em 1em;
      background-color: #4b5563;
      color: white;
      cursor: pointer;
    }
}

.symptomsInput {
  width: 45rem;
  max-width: calc(100vw - 20px);
}
